.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.flex-container > div{
    width: 300px;
    margin: 10px;
    font-size: 30px;
    line-height: 75px;
    align-content: center;
}

.wrapper{
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, lfr);
    grid-row: gap 2px;
}